<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {{ product.model }}
                {{ product.brand.nameBrand }}
                <carousel :per-page="1">
                    <slide v-for="photo in product.photos" :key="photo.PhotoId">
                        <img :src="returnUrl(photo.byteImage)" />
                    </slide>
                </carousel>
            </div>
            <div class="col-lg-6">
                <h5>Розміри</h5>
                <p>
                    <span v-for="size in prodSizes">{{size.size.sizeEU}}-{{size.count}}; </span>
                </p>
            </div>
            
        </div>
        <div class="row">
                <div class="col-lg-1 check-size" v-for="item in sizes" :key="item.sizeId">
                   
                        <label>{{item.sizeEU}}/{{item.sizeUS}}/{{item.cm}}</label>
                        <input @click="chekedValue(item.sizeId)" class="check-size custom-control-input" type="checkbox" value="item.sizeId" />
                        <input :id='item.sizeId' disabled class="count-size" type="number" value="0" />
                    
                </div>
                <b-button @click.prevent="saveSizesProduct()">Зберегти</b-button>
            </div>
    </div>
</template>
<style scoped>
    img {
        width: 300px;
    }

    form {
        border: 1px solid #a1a1a1;
        background-color: #d1f8ff;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 15px;
    }

    .span-size {
        display: inline-block;
        text-align: center;
        align-content: center;
        max-width: 36px;
        width: 100%;
        padding: 10px;
        border: 1px solid #3e946d;
        margin-right: 3px;
    }

    .count-size {
        width: 100%;
    }
    .check-size{
       display:inline;
       padding:5px;
       border:1px solid #e4e3e3;
    }
</style>
<script src="./singleproduct.ts"></script>
