<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">VueAsp</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                        <router-link to="/products" :exact="true">
                            <span class="glyphicon glyphicon-home"></span> Products
                        </router-link>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                        <router-link to="/categories">
                            <span class="glyphicon glyphicon-th-list"></span> Categories
                        </router-link>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                        <router-link to="/brands">
                            <span class="glyphicon glyphicon-th-list"></span> Brands
                        </router-link>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                        <router-link to="/sizeproduct">
                            <span class="glyphicon glyphicon-th-list"></span> Sizes
                        </router-link>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                        <router-link to="/roles-user">
                            <span class="glyphicon glyphicon-th-list"></span> Roles User
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>

<style src="./navmenu.css" ></style>
