<template>
    <div>
        <form method="post" class="col-lg-12 mb-3">

            <b-form-group>
                <label for="model">Model product</label>
                <b-form-input id="model"
                              v-model="product.model"
                              type="text"
                              name="model"></b-form-input>
            </b-form-group>
            <b-form-group>
                <label for="priceBy">Price by</label>
                <b-form-input id="priceBy"
                              v-model="product.priceBy"
                              type="number"
                              name="priceBy"></b-form-input>
            </b-form-group>
            <b-form-group>
                <label for="">SubCategory </label>
                <b-form-input id="subId"
                              v-model="product.subId"
                              name="subId" autocomplete="off"></b-form-input>
            </b-form-group>
            <b-form-group>
                <label for="brand">Brand name </label>
                <b-form-select id="brand" class="form-control" v-model="product.brandId" :options="brands" value-field="brandId" text-field="nameBrand">
                </b-form-select>
            </b-form-group>
            <p>
                <label for="files">Photos</label>
                <b-container fluid class="p-4 bg-dark">
                    <b-row>
                        <b-col class="col-lg-3" v-for="(url,index) in files" :key="index">
                            <b-img style="width:150px" thumbnail fluid :src="returnUrl(url)" alt="Image 1"></b-img>
                            <b-button @click="slicePhoto(index)">Remove photo</b-button>
                        </b-col>

                    </b-row>
                </b-container>
                <input type="file" name="files" id="files" ref="file" multiple v-on:change="handleFileUpload($event.target.files)" />
            </p>
            <b-button type="submit" pill variant="primary" @click.prevent="addProduct">Save</b-button>
        </form>
       
        <!--<div class="col-lg-12" >
            <b-img fluid alt="Fluid image" class="col-md-2" :src="returnUrl(url)" />
            
        </div>-->

    </div>
</template>
<style scoped>

</style>
<script src="./newproduct.ts"></script>
