<template>
    <div>
        <b-form @submit="onSubmit" class="col-lg-5" @reset="onReset" v-if="show" method="post" enctype="multipart/form-data">
            <b-form-group label="Size Ukraine"
                          label-for="sizeua">
                <b-form-input id="sizeua"
                              v-model="sizeUA"
                              type="text"
                              required
                              placeholder="Enter size Ukraine"></b-form-input>
            </b-form-group>
            <b-form-group label="Size USA"
                          label-for="sizeusa">
                <b-form-input id="sizeusa"
                              v-model="sizeUSA"
                              type="text"
                              required
                              placeholder="Enter size USA"></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Save</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        <div class="col-lg-5">
            <ol>
                <li v-for="(size,index) in sizes" :key="index">
                    Size UA = {{size.sizeUA}}
                    Size USA =  {{size.sizeUSA}}
                </li>
            </ol>
        </div>
    </div>
</template>

<script src="./size.ts"></script>
